#wp-admin-bar a:hover {
	text-decoration: none;
}

#buddypress h2 {
  font-size: 24px;
  margin-top: 10px;  
}

#buddypress form#whats-new-form {
	padding-bottom: 10px;
}

#buddypress form#whats-new-form h5 {
	margin-left: 0;
}

#buddypress form#whats-new-form #whats-new-content {
	margin-left: 0;
	padding-left: 0;
}

#buddypress #item-body {
	min-height: 300px;
	margin-left: 170px;
}

#buddypress .item-list-tabs#primary-nav {
	margin-top: 0;
	margin-bottom: 0;
	/* border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE; */
	border-bottom: none;
	font-size: 11px;	
}

#buddypress .item-list-tabs#primary-nav ul li {
	margin-right: 10px;
}

#buddypress .item-list-tabs#primary-nav ul li.last {
	margin-right: 0;
}

#buddypress .item-list-tabs#primary-nav ul li a {
	text-decoration: none;
	padding: 0 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	background-color: #F9F9F9;
	border-color: #F9F9F9;
	display: inline-block;
}

#buddypress .item-list-tabs#primary-nav ul li.selected a {
	background-color: #EEEEEE;
	border-color: #CCCCCC;
}

#buddypress .generic-button a {
	padding: 0 5px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-width: 2px;
	border-style: solid;
	background-color: #999999;
	border-color: #999999;
	color: #FFFFFF;
	display: inline-block;
	text-decoration: none;
}

#buddypress .settings .item-body {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
}

#buddypress .settings.left {
	width: 600px;
}

#buddypress span.required {
	color: #990000;
}

#buddypress .settings .standard-form ul.button-nav li {
	display: inline-block;
	margin-right: 10px;
}

#buddypress .settings fieldset.standard {
	margin-top: 10px;
	margin-bottom: 10px;
}

#buddypress .settings fieldset.standard label {
	margin: 0;
}

#buddypress .settings fieldset.standard ul.explanation {
	margin-top: 3px;
	margin-left: 25px;
}

#buddypress .settings fieldset input, #buddypress .settings fieldset textarea {
	padding: 5px;
	font-size: 14px;
	font-family:"Trebuchet MS",Arial,Verdana,sans-serif;
}

#buddypress .settings input.large {
	width: 500px;
}

#buddypress .settings textarea.large {
	width: 502px;
}

#buddypress .settings div.submit {
	margin-top: 20px;
	margin-bottom: 20px;
}

#buddypress .settings div.submit .button {
	margin-right: 10px;
}

#buddypress ul.item-list#members-list li {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #EEEEEE;
}

#buddypress ul.item-list li div.item-action {
	float: right;
}

#buddypress ul.item-list .item h4 a {
	text-decoration: none;
	font-size: 18px;
	font-weight: normal;
}

#buddypress .item-list .item {
	margin-left: 95px;
}

#buddypress .item-list .item-meta span.label {
	width: 100px;
	display: inline-block;
	color: #999999;
}

#buddypress #item-meta {
  width: auto;
}

#buddypress div#item-header {
	padding-bottom: 0;
}

#buddypress div#item-header h2 a {
	color: #333333;
}

#buddypress div#item-header div#item-header-content {
  float: none;
	margin-left: 170px;
}

#buddypress #item-meta #item-buttons {
  float: right;
}

#buddypress h2 span.activity, #buddypress h2 span.meta {
  font-size: 14px;
  font-weight: normal;
  color: #999;
  float: right;
}

#item-nav {
  float: left;
  width: 150px;
}

#buddypress div.item-list-tabs {
  clear: none;
}

#buddypress .item-list-tabs#object-nav {
	margin-top: 0;
	border: none;
	font-size: 12px;
}

.item-list-tabs#object-nav ul {
  display: block;
}

.item-list-tabs#object-nav ul li {
  float: none;
}

#buddypress .item-list-tabs#object-nav ul li.selected {
  background-color:;
}

#buddypress .item-list-tabs#object-nav ul li a {
	padding-top: 4px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 4px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-right: none;
	border-left: none;
	width: 100%;
	display: inline-block;
	text-decoration: none;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #EEEEEE;
	background-color: #F9F9F9;
}

#buddypress .item-list-tabs#object-nav ul li.current a {
	border-top-color: #CCCCCC;
	background-color: #EEEEEE;
	border-bottom-color: #CCCCCC;
	color: #666666;
}

#buddypress .item-list-tabs#object-nav ul li a:hover {
	color: #FFFFFF;
	border-top-color: #EF8F00;
	background-color: #FF9900;
}

#buddypress .item-list-tabs#subnav {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0px;
	padding-bottom: 5px;
}

#buddypress .item-list-tabs#subnav ul {
  
}

#buddypress .item-list-tabs#subnav ul li {
  padding: 3px;
}

#buddypress .item-list-tabs#subnav ul li.feed a {
	padding-left: 20px;
	background-image: url(../images/icons/feed_s16.png);
	background-repeat: no-repeat;
	background-position: 0 4px;
	display: inline-block;
}

#buddypress .item-list-tabs#subnav ul li a {
  text-decoration: none;
}

#buddypress .profile-fields .label {
	width: 150px;
}

#buddypress .message {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px solid;
	padding: 2px 10px;
}

#buddypress .message.info {
	border-color: #0066CC;
	background-color: #CDE2FF;
}