#buddypress h2 {
  font-size: 24px;
  margin-top: 10px;
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 10px;
}

#buddypress h2 a.create.button {
	float: right;
	text-decoration: none;
	display: inline-block;
	padding: 1px 8px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	background-color: #F9F9F9;
	border-color: #EEEEEE;
	font-size: 16px;
	margin-left: 15px;
	font-weight: normal;
}

#buddypress form#whats-new-form {
	padding-bottom: 10px;
}

#buddypress form#whats-new-form h5 {
	margin-left: 0;
}

#buddypress form#whats-new-form #whats-new-content {
	margin-left: 0;
	padding-left: 0;
}

#buddypress .content.directory {
	width: 600px;
}

#buddypress #item-body {
	min-height: 300px;
	margin-left: 170px;
}

#buddypress .item-list-tabs#primary-nav {
	margin-top: 0;
	margin-bottom: 0;
	/* border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE; */
	border-bottom: none;
	font-size: 11px;	
}

#buddypress .item-list-tabs#primary-nav ul li {
	margin-right: 15px;
}

#buddypress .item-list-tabs#primary-nav ul li.last {
	margin-right: 0;
}

#buddypress .item-list-tabs#primary-nav ul li a {
	text-decoration: none;
	font-size: 12px;
}

#buddypress .item-list-tabs#primary-nav ul li.selected a {
	color: #333333;
	font-weight: bold;
}

#buddypress .item-list-tabs#primary-nav ul li.selected a:hover {
	background-color: #FFFFFF;
}

#buddypress .generic-button a {
	text-decoration: none;
	display: inline-block;
	padding: 1px 8px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	background-color: #F9F9F9;
	border-color: #EEEEEE;
}

#buddypress .generic-button a:hover {
	background-color: #FF9900;
	border-color: #EF8F00;
	color: #FFFFFF; 
}

#buddypress .settings .generic-button a {
	padding: 0 5px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-width: 2px;
	border-style: solid;
	background-color: #999999;
	border-color: #999999;
	color: #FFFFFF;
	display: inline-block;
	text-decoration: none;
}

#buddypress .settings .item-body, #buddypress .settings .standard-form {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
}

#buddypress .settings.left {
	width: 600px;
}

#buddypress span.required {
	color: #990000;
}

#buddypress .settings .standard-form ul.button-nav li {
	display: inline-block;
	margin-right: 10px;
}

#buddypress .settings .standard-form ul.button-nav li a {
	text-decoration: none;
}

#buddypress .settings .standard-form ul.button-nav li.current a {
		color: #333333;
		font-weight: bold;
}

#buddypress .settings fieldset.standard {
	margin-top: 10px;
	margin-bottom: 10px;
}

#buddypress .settings fieldset.standard label {
	margin-top: 0;
	margin-bottom: 5px;
	margin-left: 0;
	font-size: 14px;
}

#buddypress .settings fieldset.standard .bp-profile-privacy {
	margin-top: 3px;
	margin-bottom: 3px;
	color: #666666;	
}

#buddypress .settings fieldset.standard .bp-profile-privacy span {
	display: inline-block;
	float:left;
	width: 190px;
	margin: 0;
}

#buddypress .settings fieldset.standard p.description {
	padding:0;
	margin-top:3px;
	color: #666666;
}

#buddypress .settings fieldset.standard ul.explanation {
	margin-top: 3px;
	margin-left: 25px;
}

#buddypress .settings fieldset input, #buddypress .settings fieldset textarea {
	padding: 5px;
	font-size: 14px;
	font-family:"Trebuchet MS", Arial,Verdana,sans-serif;
}

#buddypress .settings input.large {
	width: 500px;
}

#buddypress .settings textarea.large {
	width: 502px;
}

#buddypress .settings div.submit {
	margin-top: 20px;
	margin-bottom: 20px;
}

#buddypress .settings div.submit .button {
	margin-right: 10px;
}

#buddypress .activity-inner {
	font-size: 14px;
}

#buddypress .activity-inner p {
	padding-top: 0;
	padding-bottom: 0;
}

#buddypress #activity_single .activity {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

#buddypress ul.item-list li {
	min-height: 80px;
	margin-bottom: 20px;	
}

#buddypress ul.item-list.activity-list li {
	min-height: 0;
	margin-bottom: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0;
}

#buddypress div.activity-content {
	margin-left: 0;
	padding: 0;
}

#buddypress div.activity-content div.activity-meta {
	margin-top: 10px;
	color: #999999;
}

#buddypress div.activity-meta p {
	padding-top: 0;
	padding-bottom: 2px;
	margin-left: 55px;
}

#buddypress div.activity-meta div.activity-history p a:first-child {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #EEEEEE;
	padding:3px 8px;
	text-decoration: none;
}

#buddypress div.activity-meta div.activity-history p a:first-child:hover {
	background-color: #FF9900;
	color: #FFFFFF;
}

#buddypress div.activity-meta div.activity-actions {
	margin-left: 5px;
}

#buddypress div.activity-meta div.activity-actions a {
	color: #999999;
}

#buddypress ul.activity-list li img.avatar {
	height: 40px;
	width: 40px;
}

#buddypress ul.item-list li div.item-action {
	float: right;
}

#buddypress .item-list .item {
	margin-left: 100px;
}

#buddypress .item-list .item.no-margin {
	margin-left: 0;
}

#buddypress .item-list#member-list div.item-avatar img {
	height: 80px;
	width: 80px;
}

#buddypress ul.item-list .item h4 {
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 10px;
}

#buddypress ul.item-list .item h4 a {
	text-decoration: none;
}

#buddypress .item-list .item-desc p {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0;
}

#buddypress .item-list .item-desc span.label {
	width: 100px;
	display: inline-block;
	color: #999999;
}

#buddypress .item-list .item-desc p.latest-post {
	color: #999999;
}

#buddypress .item-list .item-desc p.latest-post a {
	margin-left: 33px;
}

#buddypress .item-list .item-meta {
	color: #666666;
}

#buddypress #item-meta {
  width: auto;
}

#buddypress #whats-new-form h3 {
	font-size: 16px;
}

#buddypress #activity_stream #whats-new-form h3 {
	font-size: 18px;
}

#buddypress div#item-header {
	padding-bottom: 0;
	margin-left: 170px;
}

#buddypress div#item-header div#item-header-avatar {
	float: none;
}

#buddypress div#item-header h2 a {
	color: #333333;
}

#buddypress div#item-header div#item-header-content {
	float: none;
}



#buddypress #item-buttons {
	float: right;
}

#buddypress #item-buttons .generic-button a {
	font-weight: normal;
	color: #0066CC;
	font-size: 12px;
}

#buddypress #item-buttons .generic-button a:hover {
	color: #FFFFFF;
}

#buddypress #item-meta #item-buttons div {
	display: inline;
}

#buddypress h2 span.activity, #buddypress h2 span.meta {
  font-size: 18px;
  font-weight: normal;
  color: #999;
  float: right;
}

#buddypress #left-sidebar {
	float: left;
}

#buddypress #left-sidebar #item-nav {
  width: 150px;
}

#buddypress div.item-list-tabs {
  clear: none;
}

#buddypress .item-list-tabs#object-nav {
	margin-top: 0;
	border: none;
	font-size: 12px;
	padding-top: 0;
}

.item-list-tabs#object-nav ul {
  display: block;
}

.item-list-tabs#object-nav ul li {
  float: none;
}

#buddypress .item-list-tabs#object-nav ul li.selected {
  background-color:;
}

#buddypress .item-list-tabs#object-nav ul li a {
	padding-top: 4px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 4px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-right: none;
	border-left: none;
	width: 100%;
	display: inline-block;
	text-decoration: none;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #EEEEEE;
	background-color: #F9F9F9;
}

#buddypress .item-list-tabs#object-nav ul li.current a {
	border-top-color: #CCCCCC;
	background-color: #EEEEEE;
	border-bottom-color: #CCCCCC;
}

#buddypress .item-list-tabs#object-nav ul li a:hover {
	color: #FFFFFF;
	border-top-color: #EF8F00;
	background-color: #FF9900;
}

#buddypress .item-list-tabs#subnav {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0px;
	padding-bottom: 5px;
	border-bottom: none;
}

#buddypress .item-list-tabs#subnav ul {
  
}

#buddypress .item-list-tabs#subnav ul li {
	margin-right: 15px;
}

#buddypress .item-list-tabs#subnav ul li a {
	text-decoration: none;
	font-size: 12px;	
}

#buddypress .item-list-tabs#subnav ul li.current a {
	color: #333333;
	font-weight: bold;
}

#buddypress .item-list-tabs#subnav ul li.current a:hover {
	background-color: #FFFFFF;
}

#buddypress .item-list-tabs#subnav ul li.feed a {
	padding-left: 20px;
	background-image: url(../images/icons/feed_s16.png);
	background-repeat: no-repeat;
	background-position: 0 4px;
	background-color: #FFFFFF;
	border: none;
	display: inline-block;
}

#buddypress .item-list-tabs#subnav ul li.feed a:hover {
	background-color: none;
	color: #0066CC;
}


#buddypress .profile-fields .label {
	width: 150px;
	color: #999999;	
}


#buddypress .pagination {
	margin-top: 40px;
}

#buddypress .pagination .pag-count {
	color: #666666;
}