#wp-admin-bar a:hover {
	text-decoration: none;
}

#buddypress h2 {
  font-size: 24px;
  margin-top: 10px;  
}

#buddypress .settings .item-body {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
}

#buddypress .settings.left {
	width: 600px;
}

#buddypress span.required {
	color: #990000;
}

#buddypress .settings fieldset.standard {
	margin-top: 10px;
	margin-bottom: 10px;
}

#buddypress .settings fieldset.standard label {
	margin: 0;
}

#buddypress .settings fieldset.standard ul.explanation {
	margin-top: 3px;
	margin-left: 25px;
}

#buddypress .settings fieldset input, #buddypress .settings fieldset textarea {
	padding: 5px;
	font-size: 14px;
	font-family:"Trebuchet MS",Arial,Verdana,sans-serif;
}

#buddypress .settings input.large {
	width: 500px;
}

#buddypress .settings textarea.large {
	width: 502px;
}

#buddypress .settings div.submit {
	margin-top: 20px;
	margin-bottom: 20px;
}

#buddypress .settings div.submit .button {
	margin-right: 10px;
}

#buddypress #item-meta {
  width: auto;
}

#buddypress div#item-header h2 a {
	color: #333333;
}

#buddypress div#item-header div#item-header-content {
  float: none;
	margin-left: 170px;
}

#buddypress #item-meta #item-buttons {
  float: right;
}

#buddypress h2 span.activity, #buddypress h2 span.meta {
  font-size: 14px;
  font-weight: normal;
  color: #999;
  float: right;
}

#item-nav {
  float: left;
  width: 150px;
}

#buddypress div.item-list-tabs {
  clear: none;
  border-bottom: none;
}

.item-list-tabs#object-nav ul {
  display: block;
}

.item-list-tabs#object-nav ul li {
  float: none;
}

#buddypress .item-list-tabs#object-nav ul li.selected {
  background-color:;
}

.item-list-tabs#object-nav ul li a {
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
  display: inline-block;
  text-decoration: none;
}

.item-list-tabs#subnav ul {
  
}

.item-list-tabs#subnav ul li {
  padding: 3px;
}

.item-list-tabs#subnav ul li a {
  text-decoration: none;
}

#buddypress #item-body {
  margin-left: 170px;
}

#buddypress .message {
	border: 2px solid;
	padding: 2px 10px;
}

#buddypress .message.alert {
	border-color: #0066CC;
	background-color: #CDE2FF;
}