/* Capstones Page Style */


/* Landing Page */

#capstone-content {
	height: auto;
	min-height: 200px;
	margin: 0 0 0 -20px;
	width:900px;
	background-color:white;
}

#capstone-content h2 {
 	border-bottom: 3px solid #EEEEEE;
	border-right: none;
    color: #000000;
    padding-bottom: 5px;
	margin: 10px 40px 0 40px;
}

.capstone-column-wrapper {
	margin: 15px 0px;
	min-height:300px;
	height:auto;
	width: 100%;
	float: left;
}

.capstone-column-wrapper h2{
	margin-left:10px;
}

.capstone-img {
	text-align:center; 
	width: 100%;
}
.capstone-img img {
	width:900px;
	border: 0;
	display: none;
	margin: -35px -20px 20px -20px;
}

div.capstone-box {
	line-height: 1.7em;
	float: left;
}

div.capstone-box h3 {
	text-decoration:none;
	text-transform:uppercase;
	color: #666666;
	font-size: 14px;
	margin: -3px 0;
}

div.capstone-box ul li {
	list-style:none;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
	border: 1px solid #E0E0E0;
    height: 260px;
    position: relative;
    z-index: 4;
	padding: 4px;
	width: 236px;
	margin: 0 0 40px 40px;
	float: left;
}

div.capstone-box ul li p {
	color: #888;
	font-size: 11px;
	line-height: 17px;
	text-align: center;
}
div.capstone-box ul li p.text-color-light-grey {
    color: #999;
	font-size: 9.5px;
}
	

div.capstone-box ul li h4 {
	font-size: 13px;
    line-height: 18px;
    margin-top: 15px;
    text-align: center;
}

div.capstone-box ul li h4 a{
	color: #333;
}

div.capstone-box ul li h4 a:hover {
	text-decoration: underline;
	background: none;
}

div.capstone-box ul li a img {
	display: block;
	height: 117px;
    width: 235px;
	box-shadow: 0 0 1px 0 #333333;
}

div.capstone-box ul li a:hover img {
	border-color: #CCCCCC;
}

div.capstone-box ul li p {
	padding: 0;
}


/* SIngle Post */

.capstone{
	padding: 10px 10px 10px 0;
	width: 100%;
}

.capstone-right {
	max-width: 25%;
	float: right;
	padding: 4px 8px;
	border: 1px solid #dadada;
	margin: 55px 0 12px 0;
	font-size:90%;
	background: #f1f1f1;
}

.capstone-right h4 {
	font-size:16px;
	margin-bottom:5%;
	margin-top: 10px;
	border-bottom:1px solid #DADADA;
}

.capstone-right span {
	text-transform:uppercase;
}

.capstone-right p {
	padding: 0;
}

.capstone-content{
	float:left;
	width: 70%;
}

.capstone-screenshot {
	font-size: .8em;
	text-transform: uppercase;
	font-weight:bold;
}
