/* Capstones Page Style */


/* Landing Page */

#capstone-content {
	height: auto;
	min-height: 200px;
	margin: 0 0 0 -20px;
	width:900px;
	background-color:white;
}

.capstone-column-wrapper {
	margin: 15px 0px;
	min-height:300px;
	height:auto;
	width: 100%;
	float: left;
}

.capstone-column-wrapper h2{
	margin-left:10px;
}

.capstone-img {
	text-align:center; 
	width: 100%;
}
.capstone-img img {
	width:900px;
	border: 0;
	margin: -35px -20px 20px -20px;
}

div.capstone-box {
	line-height: 1.7em;
	width: 245px;
	float: left;
	margin: 40px 20px 10px 30px;
}

div.capstone-box h3 {
	text-decoration:none;
	text-transform:uppercase;
	color: #666666;
	font-size: 14px;
	margin: -3px 0;
}

div.capstone-box ul li {
	list-style:none;
	padding: 15px 0;
	border-bottom: 1px solid #eee;
}

div.capstone-box ul li h4 {
	text-transform: uppercase;
	font-size: 1.2em;
	padding-top: 10px;
}

div.capstone-box ul li a img {
	margin-top: 15px;
	padding: 4px;
	background-color: #fefefe;
	border: 1px solid #d9d9d9;
}

div.capstone-box ul li a:hover img {
	border-color: #CCCCCC;
}

div.capstone-box ul li p {
	padding: 0;
}


/* SIngle Post */

.capstone{
	padding: 10px 10px 10px 0;
	width: 100%;
}

.capstone-right {
	max-width: 25%;
	float: right;
	padding: 4px 8px;
	border: 1px solid #dadada;
	margin: 55px 0 12px 0;
	font-size:90%;
	background: #f1f1f1;
}

.capstone-right h4 {
	font-size:16px;
	margin-bottom:5%;
	margin-top: 10px;
	border-bottom:1px solid #DADADA;
}

.capstone-right span {
	text-transform:uppercase;
}

.capstone-right p {
	padding: 0;
}

.capstone-content{
	float:left;
	width: 70%;
}

.capstone-screenshot {
	font-size: .8em;
	text-transform: uppercase;
	font-weight:bold;
}
