/* Capstone Page Style */


#full-width {
	height: auto;
	min-height: 200px;
	margin: 0 0 0 -20px;
	width:900px;
}

.wrap-capstone-box{
width: 100%;
height: inherit;
margin-top: 10px;
}

.capstone-box {
	line-height: 1.7em;
	margin-top: 10px;
}

.capstone-box img {
	margin-top: 8px;
	margin-bottom: 15px;
}

.capstone-box h4 {
	color: #828282;
	font-size: 14px;
	text-transform: uppercase;
	font-style: normal;
	font-family: Verdana, Geneva, sans-serif;
	letter-spacing: 2px;
	margin-top: 7px;
}

li.three-columns {
	width: 260px;
	float: left;
	margin: 0 20px;
	list-style:none;
	padding-bottom: 20px;
}

.capstone-img-frame img{
	padding: 4px;
	background-color: #fefefe;
	border: 1px solid #d9d9d9;
	width: 250px;
}

.more-arrow {
	font-size: 20px;
	font-family: Georgia, "Times New Roman", Times, serif;
	position: relative;
	top: 1px;
}

#full-width .columns-wrapper{
	width:900px;
	float: left;
	margin-bottom: 30px;
}

.capstone-column-wrapper {
	margin: 15px 0;
	min-height:300px;
	height:auto;
}

,capstone-img img {
margin-bottom:-6px;
margin-top:-6px;
width:900px;
position: relative;
}


.no-caps {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	text-transform: lowercase;
}


.capstones-info, .capstones-packages-info {
	color: #6a6a6a;
	float: left;
	font-size: 11px;
	margin-bottom: 20px;
	text-transform: uppercase;
	width: auto;
	position: relative;
	border-bottom: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
	padding-bottom: 7px;
}

.capstones-info ul{
	margin-left:0px;	
}

.capstones-info a, .capstones-packages-info a {
	font-style: normal;
	color: #ed8137;
}

.capstones-info ul li {
	display: inline;
	float: left;
	padding-right: 15px;
	padding-top: 7px;
}

.no-caps {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	text-transform: lowercase;
}

.capstones-info ul {
	border-right: 0px;
	padding-right: 5px;
}

#full-width .capstones-info ul {
	border-right: 0px;
	width: auto;
	padding-right: 5px;
}

#capstones {
	float: left;
	height: auto;
	min-height: 200px;
	margin: 20px 0px;
	width:600px;
}


#capstones .capstones-info ul {
	border-right: 0px;
	width: auto;
	padding-right: 5px;
}

#capstones .capstones-packages-info ul {
	border-right: 0px;
	width: auto;
	padding-right: 5px;
	float: left;
}


.capstones-info ul li.capstones-info-comments {
	border-right: 0px;
	float: right;
	padding-right: 0px;
}

.capstones-article-img {
	float: left;
	background-color:#FEFEFE;
	border:1px solid #D9D9D9;
	padding:4px;
	width: 200px;
	margin: 0 10px 10px 0;
}

.capstones-packages-img {
	float: left;
	background-color:#FEFEFE;
	border:1px solid #D9D9D9;
	padding:4px;
	width: 280px;
	margin: 0 10px 10px 0;
}

.capstones-post {
	margin-bottom: 10px;
	margin-top: 10px;
}

.capstones-post h3 a,.capstones-post-packages h3 a {
	font-size: 18px;
	margin-bottom: 11px;
	font-style: normal;
	color: #6a6a6a;
}

.capstones-post h3 a:hover, .capstones-post-packages a:hover{
    color: #454545;
	text-decoration: none;
}



.capstones-post{
	float:left;
}
