/* Capstones Page Style */


/* Landing Page */

#capstone-content {
	height: auto;
	min-height: 200px;
	margin: 0 0 0 -20px;
	width:900px;
	background-color:white;
}

.capstone-column-wrapper {
	margin: 15px 0px;
	min-height:300px;
	height:auto;
	width: 100%;
	float: left;
}

.capstone-column-wrapper h2{
	margin-left:10px;
}

.capstone-img {
	text-align:center; 
	width: 100%;
}
.capstone-img img {
	width:900px;
	border: 0;
	margin: -35px -20px 20px -20px;
}

.capstone-page-intro {
	position:relative;
	text-align:center;
	font-size: 24px;
	text-transform:capitalize;
}

ul.capstone-box {
	line-height: 1.7em;
	width: 245px;
	float: left;
	margin: 40px 20px 10px 30px;
}

li.capstone-columns {
	list-style:none;
	padding-bottom: 20px;
}

.capstone-media-type-heading {
	text-decoration:none;
	text-transform:uppercase;
	color: #666666;
}

a.capstone-media-type-heading {
	text-decoration:none;
}

a.capstone-media-type-heading:hover {
	text-decoration: underline;
}

.capstone-box h4 {
	text-transform: uppercase;
	font-size: 1.3em;
	padding-top: 10px;
}
a.capstone-box h4 { 
	text-decoration: none;
}

a.capstone-archive-link{
	text-decoration:none;
	text-transform:uppercase;
	font-size: .9em;
	float: right;
}
a.capstone-archive-link:hover {
	text-decoration: underline;
}

.wrap-capstone-box{
	width: 100%;
	height: inherit;
	margin-top: 10px;
}

.capstone-columns img {
	margin-top: 15px;
	padding: 4px;
	background-color: #fefefe;
	border: 1px solid #d9d9d9;
	/*filter:alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
	-khtml-opacity: 0.8; */
}
/*
.capstone-columns:hover img {
	filter:alpha(opacity=100);
	-moz-opacity: 1.0;
	opacity: 1.0;
	-khtml-opacity: 1.0; 
}
*/
.more-arrow {
	font-size: 1.9em;
	position:relative;
	top:2px;
}

.capstone-columns p {
	padding-bottom: 15px;
	border-bottom: 1px dotted #ccc;
}


/* SIngle Post */

.capstone{
	padding: 10px 10px 10px 0;
	width: 100%;
}

.capstone-content{
	float:left;
	width: 70%;
}

.capstone-right{
	max-width: 25%;
	float: right;
	padding: 4px 8px;
	border: 1px solid #dadada;
	margin: 55px 0 12px 0;
	font-size:90%;
	background: #f1f1f1;
}

.capstone-right h4 {
font-size:16px;
margin-bottom:5%;
margin-top: 10px;
border-bottom:1px solid #DADADA;
}

.capstone-screenshot {
	font-size: .8em;
	text-transform: uppercase;
	font-weight:bold;
}

.capstone-single-box {
	padding: 5px 0 20px 0;
	border-bottom: 1px dotted #ddd;

}


/* By Media Type */


.no-caps {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	text-transform: lowercase;
}


.capstones-info, .capstones-packages-info {
	color: #6a6a6a;
	float: left;
	font-size: 11px;
	margin-bottom: 20px;
	text-transform: uppercase;
	width: auto;
	position: relative;
	border-bottom: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
	padding-bottom: 7px;
}

.capstones-info ul{
	margin-left:0px;	
}

.capstones-info a, .capstones-packages-info a {
	font-style: normal;
	color: #ed8137;
}

.capstones-info ul li {
	display: inline;
	float: left;
	padding-right: 15px;
	padding-top: 7px;
}

.no-caps {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	text-transform: lowercase;
}

.capstones-info ul {
	border-right: 0px;
	padding-right: 5px;
}

#full-width .capstones-info ul {
	border-right: 0px;
	width: auto;
	padding-right: 5px;
}

#capstones {
	float: left;
	height: auto;
	min-height: 200px;
	margin: 20px 0px;
	width:600px;
}


#capstones .capstones-info ul {
	border-right: 0px;
	width: auto;
	padding-right: 5px;
}

#capstones .capstones-packages-info ul {
	border-right: 0px;
	width: auto;
	padding-right: 5px;
	float: left;
}


.capstones-info ul li.capstones-info-comments {
	border-right: 0px;
	float: right;
	padding-right: 0px;
}

.capstones-article-img {
	float: left;
	background-color:#FEFEFE;
	border:1px solid #D9D9D9;
	padding:4px;
	width: 200px;
	margin: 0 10px 10px 0;
}

.capstones-packages-img {
	float: left;
	background-color:#FEFEFE;
	border:1px solid #D9D9D9;
	padding:4px;
	width: 280px;
	margin: 0 10px 10px 0;
}

.capstones-post {
	margin-bottom: 10px;
	margin-top: 10px;
}

.capstones-post h3 a,.capstones-post-packages h3 a {
	font-size: 18px;
	margin-bottom: 11px;
	font-style: normal;
	color: #6a6a6a;
}

.capstones-post h3 a:hover, .capstones-post-packages a:hover{
    color: #454545;
	text-decoration: none;
}



.capstones-post{
	float:left;
}
