
#cunyj-events .buttonize:hover {
	cursor: pointer;
}

#cunyj-events .hidden {
	display: none;
}

#cunyj-events h4 {
	margin-top: 5px;
	margin-bottom: 15px;
}

#cunyj-events #intro {
	margin: 10px;
}

#cunyj-events .event_date_time .inline {
	margin-left: 10px;
	margin-right: 5px;
}

#cunyj-events .sub {
	margin-bottom: 10px;
}

#cunyj-events .sub a.action {
	margin-left: 130px;
}

#cunyj-events #inner {
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
}

#cunyj-events #time-date {
	
}

#cunyj-events #intro label {
	width: 135px;
	display: inline-block;
}

#cunyj-events #time-date label, #cunyj-events #details label {
	width: 125px;
	display: inline-block;
}

#cunyj-events #wp-calendar{
	width:100%;
}
#cunyj-events #wp-calendar caption{
	font-size:2em;
	margin-bottom:1em;
}
#cunyj-events h2.cal-title{
  font-size:2em;
  padding:20px 20px 0 20px;
}
#cunyj-events #wp-calendar td{
	border:1px solid #cccccc;
	height:100px;
	width:100px;
	vertical-align:top;
}
#cunyj-events td.pad{
	background-color:#f0f0f0;
}
#cunyj-events .cal-day{
	text-align:right;
	background-color:#f8f9ff;
	padding:2px 8px;
}
#cunyj-events td#today .cal-day{
	background-color:#FAD163;
	font-weight:bold;
}