
body.post-type-archive-cunyjevent h2 {
	border-right: none;
}

#cunyj-events .buttonize:hover {
	cursor: pointer;
}

#cunyj-events .hidden {
	display: none;
}

#cunyj-events h4 {
	margin-top: 5px;
	margin-bottom: 15px;
}

#cunyj-events #intro {
	margin: 10px;
}

#cunyj-events .event_date_time .inline {
	margin-left: 10px;
	margin-right: 5px;
}

#cunyj-events .sub {
	margin-bottom: 10px;
}

#cunyj-events .sub a.action {
	margin-left: 130px;
}

#cunyj-events #inner {
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
}


#cunyj-events #intro label {
	width: 135px;
	display: inline-block;
}

#cunyj-events #time-date label, #cunyj-events #details label {
	width: 125px;
	display: inline-block;
}

#cunyj-events h2.calendar-title {
	margin-top: 0;
	text-align: center;
}

#cunyj-events #wp-calendar {
	width:100%;
}

#cunyj-events #wp-calendar td {
	border:1px solid #cccccc;
	height:100px;
	width:100px;
	vertical-align:top;
}
#cunyj-events td.pad {
	background-color:#f0f0f0;
}

#cunyj-events .cal-day {
	text-align:right;
	background-color:#f8f9ff;
	padding:2px 8px;
}

#cunyj-events ul.cal-events {
	margin-top: 2px;
	margin-bottom: 2px;
}

#cunyj-events ul.cal-events li {
	margin-top: 2px;
	margin-bottom: 2px;
}

#cunyj-events ul.cal-events li a {
	padding-left: 3px;
	padding-right: 3px;
	display: block;
}

#cunyj-events ul li.cal-event.multi-day {
	background-color: #EEEEEE;
	border-color: #EEEEEE;
}

#cunyj-events ul li.cal-event.all-day {
	background-color: #CCE6FF;
	border: 1px solid #0066CC;
}

#cunyj-events ul li.cal-event.all-day a {
	text-decoration: none;
}

#cunyj-events ul li.cal-event.start-day {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#cunyj-events ul li.cal-event.end-day {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#cunyj-events td#today .cal-day{
	background-color:#FAD163;
	font-weight:bold;
}

#cunyj-events h2.upcoming-title{
	padding:0 10px;
	margin-top:25px;
}

#cunyj-events h4.feature-title{
  font-size:1.3em;
}

#cunyj-events h3.upcoming{
  background:#eeeeee;
  color:#333333;
  padding:5px 10px;
  border:1px solid #dddddd;
  margin-top:20px;
}

#cunyj-events .event-location .label {
  color:#666666;
  margin-top:10px;
}