body.home-page .content {
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: #EEEEEE;
}

body.home-page .row {
	margin-bottom: 10px;
}

body.home-page .home-page-item {
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	box-shadow: 3px 3px 7px #CCCCCC;
	padding: 3px;
	position: relative;	
}

body.home-page .content h3, body.home-page .content h4 {
	padding: 0px;
	margin: 0px;
}

body.home-page .content ul, body.home-page .content ul li {
	margin: 0px;
	padding: 0px;
}

body.home-page .content h3.button a {
	font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
	display: block;
	background: -moz-linear-gradient(center top , #F2F2F2, #CCCCCC) repeat scroll 0 0 #F2F2F2;
	font-weight: 300;
	letter-spacing: 0.5px;
	color: #444444;
	text-shadow: 2px 2px 3px #F2F2F2;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 12px;
	padding-right: 12px;
	border: 1px solid #D2D2D2;
}

body.home-page .content h3.button a:hover {
	background: -moz-linear-gradient(center top , #CCCCCC, #EEEEEE) repeat scroll 0 0 #F2F2F2;
	border-color: #BBBBBB;
	color: #111111;
}

body.home-page .home-page-item#home-page-item-headlines {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

body.home-page .homepage-headlines {
	width: 292px;
	z-index: 100;
	position: absolute;
	top: 3px;
	right: 3px;
}

body.home-page .home-page-item#home-page-item-headlines .homepage-how-to-apply {
	width: 292px;
	z-index: 100;
	position: absolute;
	bottom: 3px;
	right: 3px;
} 

body.home-page .home-page-item#home-page-item-headlines .homepage-how-to-apply h3 a {
	
}

body.home-page .homepage-headlines h3.latest-headlines-title a {
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
}

body.home-page .homepage-headlines ul.latest-headlines li {
	border-top: #EEEEEE 1px solid;
	margin: 0px;
	padding: 0px;
}

body.home-page .homepage-headlines ul.latest-headlines li:first-child {
	border-top: none;
}

body.home-page .homepage-headlines ul.latest-headlines li a {
	display: block;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #236ACC;
}

body.home-page .homepage-headlines ul.latest-headlines li a:hover {
	color: #111111;
	text-decoration: underline;
}

body.home-page .homepage-headlines ul.academic-resources {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

body.home-page .homepage-headlines ul.academic-resources a {
	text-decoration: none;
	color: #444444;
}

body.home-page .homepage-headlines ul.academic-resources a:hover {
	text-decoration: underline;
}

body.home-page .homepage-headlines ul.academic-resources li a.highlight {
	background-color: #FFF7A6;
}

body.home-page .homepage-headlines ul.academic-resources li ul.sub-navigation {
	display: inline;
}

body.home-page .homepage-headlines ul.academic-resources li ul.sub-navigation li {
	display: inline;
	padding-right: 5px;
}

body.home-page .homepage-headlines ul.academic-resources li ul.sub-navigation li:first-child {
	padding-left: 5px;
}

body.home-page .homepage-headlines ul.academic-resources li ul.sub-navigation li a {
	color: #999999;
}

body.home-page .homepage-headlines-excerpt {
	position: absolute;
	left: 0px;
	background-image: url(../images/backgrounds/white_40percent.png);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	bottom: 0px;
	display: none;
}

body.home-page .homepage-headlines-gallery img {
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
}

body.home-page .home-page-item#home-page-item-events {
	width: 600px;
}

body.home-page .home-page-item#home-page-item-events .home-page-featured-event {
	width: 250px;
}

body.home-page .home-page-item#home-page-item-events .home-page-all-events {
	width: 325px;
}

body.home-page .home-page-item#home-page-item-events .home-page-all-events ul li {
	border-top: #EEEEEE 1px solid;	
}

body.home-page .home-page-item#home-page-item-events .home-page-all-events ul li:first-child {
	border-top: none;
}

body.home-page .event-item-date {
	border: 1px solid #EEEEEE;
	text-transform: uppercase;
}

body.home-page .home-page-all-events ul li {
	padding-top: 5px;
	padding-bottom: 5px;
}

body.home-page .home-page-all-events ul li h4 {
	padding: 0px;
}

body.home-page .event-item-date span {
	display: inline-block;
}


body.home-page .event-item-date span.event-item-month {
	background: none repeat scroll 0 0 #DE1515;
	color: #FFFFFF;
	padding: 2px 6px;
	text-align: center;
	width: 25px;
	background-color: #777777;
}

body.home-page .home-page-all-events .event-item h4 {
	margin-left: 85px;
}