body, html, ul, ol, p {
	margin: 0;
	padding: 0;
}

body {
	background-color: #333333;
	font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
	line-height: 18px;
	font-size: 12px;
	color: #222222;
}

.wrap {
	width: 1040px;
	margin-left: auto;
	margin-right: auto;
}

.main {
	padding-top: 10px;
	background-color: #EFEFEF;
	padding-bottom: 30px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.align-center {
	text-align: center;
}

.clear-both {
	clear: both;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

a {
	text-decoration: none;
	color: #0066CC;
}

a img {
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: #1F1F1F;
}

h3 {
	padding-top: 12px;
	padding-bottom: 8px;
	font-size: 18px;
	line-height: 24px;
}

ul.inline-navigation {
	list-style-type: none;
}

ul.inline-navigation li {
	display: inline-block;
}

.page-item {
	box-shadow: 3px 3px 5px #DDDDDD;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
}

.header {
	background-color: #555555;
	box-shadow: 3px 0px 5px #DDDDDD;
}

.header .top-stripe {
	height: 3px;
	background-color: #FF9900;
}

.header .site-logo {
	padding-top: 20px;
	padding-bottom: 15px;
}

body.home-page .row {
	margin-bottom: 10px;
}

body.home-page .home-media-gallery {
	height: 200px;
}

body.home-page .home-featured-work {
	padding: 10px;
}

body.home-page .home-featured-work h3 {
	padding-top: 0;
	padding-bottom: 3px;
	border-bottom: 1px solid #CCCCCC;
}