body, html, ul, ol, p {
	margin: 0;
	padding: 0;
}

body {
	background-color: #1B1B1B;
	font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
	line-height: 18px;
	font-size: 12px;
	color: #222222;
}

.wrap {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.main {
	padding-top: 10px;
	background-color: #EFEFEF;
	padding-bottom: 10px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.clear-both {
	clear: both;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

.width-600 {
	width: 600px;
}

a {
	text-decoration: none;
	color: #0066CC;
}

a img {
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: #1F1F1F;
}

h3 {
	padding-top: 12px;
	padding-bottom: 8px;
	font-size: 18px;
	line-height: 24px;
}

h4 {
	padding-top: 12px;
	padding-bottom: 8px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.1px;
}

ul.inline-navigation {
	list-style-type: none;
}

ul.inline-navigation li {
	display: inline-block;
}

.top-stripe {
	height: 3px;
	background-color: #FF9900;
}

.page-item {
	box-shadow: 3px 3px 5px #DDDDDD;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
}

.header {
	box-shadow: 3px 0px 5px #DDDDDD;
}

.header .wrap {
	position: relative;
}

.header .site-logo {
	padding-top: 10px;
	padding-bottom: 5px;
}

.header ul.primary-navigation {
	display: table;
	position: absolute;
	bottom: 0;
	right: 0;
}

.header ul.primary-navigation li {
	margin: 0;
	padding: 0;
	display: table-cell;
}

.header ul.primary-navigation li a {
	color: #F2F2F2;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 10px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	letter-spacing: 0.1px;
	display: block;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	margin-left: -1px;
}

.header ul.primary-navigation li a:hover {
	color: #FF9900;
	border-color: #FF9900;
	z-index: 100;
}

.header .search-box {
	padding: 3px;
}

.header ul.primary-navigation li.navigation-search {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-top: 8px;
	border-right: #999999 solid 1px;
}

.header .button {
	display: inline-block;
	background-color: #CCCCCC;
	border: 1px solid #EEEEEE;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 13px;
	line-height: 19px;
	font-weight: 300;
	letter-spacing: 0.1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #F2F2F2;
}

.header .button:hover {
	cursor: pointer;
}

body.home-page .home-page-row {
	position: relative;
}

body.home-page .home-page-section {
	position: relative;
	padding-bottom: 30px;
	margin-bottom: 15px;
}

body.home-page h3.home-page-section-title {
	padding: 0;
}

body.home-page h3.home-page-section-title a {
	color: #CCCCCC;
    letter-spacing: 0.5px;
	position: absolute;
	padding: 0;
    text-transform: uppercase;
}

body.home-page h3.home-page-section-title a:hover {
	color: #FF9900;
}

body.home-page .home-page-section.home-media-gallery {
	margin-bottom: 0px;
}

body.home-page .home-media-gallery h3.home-page-section-title a {
	bottom: 0;
	right: 4px;
}

body.home-page .home-featured-events h3.home-page-section-title a,
body.home-page .home-featured-work h3.home-page-section-title a {
	bottom: 0;
	left: 4px;
}

body.home-page .home-page-section.home-media-gallery {
	padding: 2px;
}

body.home-page .home-latest-headlines.page-item {
	width: 356px;
	margin-left: 604px;
	z-index: 100;
	position: absolute;
	border-left: none;
}

body.home-page .home-latest-headlines .lead-story {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
}

body.home-page .home-latest-headlines .lead-story p {
	padding-top: 5px;
	padding-bottom: 5px;
}

body.home-page .home-latest-headlines ul.latest-headlines {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 12px;
}

body.home-page .home-latest-headlines ul.latest-headlines li {
	list-style-type: none;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
}

body.home-page .home-latest-headlines ul.latest-headlines li a img {
	height: 64px;
	width: 64px;
	border: 3px solid #EFEFEF;
}

body.home-page .home-latest-headlines ul.latest-headlines li a:hover img,
body.home-page .home-latest-headlines ul.latest-headlines li.active a img {
	border-color: #FF9900;
}

body.home-page .home-featured-events {
	width: 600px;
	padding-bottom: 25px;
}

body.home-page .home-featured-work {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 25px;
}

body.home-page .home-featured-work ul.featured-work {
	list-style-type: none;
	display: table;
}

body.home-page .home-featured-work ul.featured-work li {
	display: table-cell;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

body.home-page .home-featured-work ul.featured-work li h4 {
	font-weight: 500;
	padding-top: 4px;
}

body.home-page .home-featured-work ul.featured-work li h4 a {
	color: #222222;
}

body.home-page .home-featured-work ul.featured-work li h4 a:hover {
	text-decoration: underline;
}

body.home-page .home-featured-work ul.featured-work li p.meta {
	color: #888888;
	font-style: italic;
}

body.home-page .home-featured-work ul.featured-work li p.meta a {
	color: #888888;
	text-decoration: underline;
}

body.home-page .home-page-were-you-looking {
	margin-bottom: 15px;
	text-align: center;
	color: #888888;
}

body.home-page .home-featured-publications {
	margin-top: 20px;
}

body.home-page ul.featured-publications {
	color: #888888;
	padding-left: 10px;
	padding-right: 10px;
}

body.home-page ul.featured-publications li {
	list-style-type: none;
	display: inline-block;
	width: 200px;
	float:left;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

body.home-page ul.featured-publications li a img {
	margin-right: 10px;
	float: left;
}

body.home-page ul.featured-publications li h4 {
	padding-top: 0;
	margin-left: 70px;
}

body.home-page ul.featured-publications li p {
	margin-left: 70px;
}

.footer {
	padding-bottom: 30px;
}

.footer h3.site-name a {
	color: #FF9900;
}

.footer .google-map {
	margin-top: 15px;
	padding: 5px;
	background-color: #777777;
}

.footer .google-map a.map {
	display: block;
	background-image: url(../images/backgrounds/cunyjschoolmap_h250color.jpg);
	background-repeat: no-repeat;
	width: 250px;
	height: 125px;
}

.footer ul.footer-navigation li {
	list-style-type: none;
	padding-top: 2px;
	padding-bottom: 2px;
	letter-spacing: 0.1px;
}

.footer ul.footer-navigation li a {
	color: #F2F2F2;
	float: left;
	padding-right: 5px;
}

.footer ul.footer-navigation li ul {
	
}

.footer ul.footer-navigation li ul li {
	display: inline;
}

.footer ul.footer-navigation li ul li a {
	color: #999999;
	float: none;
	padding-left: 5px;
	padding-right: 5px;
	border-left: 1px solid #777777;
}

.footer ul.footer-navigation li ul li:first-child a {
	border-left: none;
}

.footer ul.footer-navigation li a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

.footer p.copy {
	padding-top: 10px;
	color: #777777;
}