body, html, ul, ol, p {
	margin: 0;
	padding: 0;
}

body {
	background-color: #2F2F2F;
	font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
	line-height: 18px;
	font-size: 12px;
	color: #222222;
}

.wrap {
	width: 1040px;
	margin-left: auto;
	margin-right: auto;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.align-center {
	text-align: center;
}

.clear-both {
	clear: both;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

a {
	text-decoration: none;
	color: #0066CC;
}

a img {
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: #1F1F1F;
}

h3 {
	padding-top: 12px;
	padding-bottom: 8px;
	font-size: 18px;
	line-height: 24px;
}

ul.inline-navigation {
	list-style-type: none;
}

ul.inline-navigation li {
	display: inline-block;
}

.page-item {
	box-shadow: 5px 5px 7px #222222;
	background-color: #F2F2F2;
	border: 1px solid #222222;
}

.header .top-stripe {
	height: 5px;
	background-color: #FF9900;
}

.header .site-logo {
	padding-top: 20px;
	padding-bottom: 15px;
}

.header ul.primary-navigation {
	background-color: #F2F2F2;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: none;
}

.header ul.primary-navigation li a {
	text-decoration: none;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 7px;
	padding-right: 7px;
	display: block;
	color: #1F1F1F;
	font-size: 16px;
	line-height: 22px;
	text-shadow:1px 2px 5px #CCCCCC;
	font-weight: 300;
}

.header ul.primary-navigation li a:hover {
	
}

body.home-page .row {
	margin-bottom: 10px;
}

body.home-page .home-media-gallery {
	border-top: none;
	height: 200px;
	margin-top: -1px;
}

body.home-page .home-featured-work {
	padding: 10px;
}

body.home-page .home-featured-work h3 {
	padding-top: 0;
	padding-bottom: 3px;
	border-bottom: 1px solid #CCCCCC;
}