/* CSS Document */

#home h3 a:hover {
	background-color: #FFFFFF;
}

#nav-items {
	float: right; 
	width: 140px;
}
	
#nav-items a, #nav-items a:visited {
	text-decoration: none;
	color: #0066cc;
}
	
#nav-items a:hover {
	color: #333;
}
		
#nav-items ul#admiss {
	margin-top: 20px;
}
		
#nav-items li {
	color: #999; }
	
#nav-items h3 {
	margin: 0;
	padding: 0;
}
	
#nav-items #ad-ac h3 a {
	color: #333;
}
	
#nav-items h3 a:hover {
	color: #111;
}
	
#ad-ac {
	margin-top: 20px; 
	text-decoration: none;
	background: #f9f9f9;
	border-left: 5px solid #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
}
	
#ad-ac li a, #ad-ac li a:visited {
	padding: 3px 10px;
	display: block;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #eee;
}
	
#ad-ac li a:hover {
	background: #f2f2f2;
	border-top: 1px solid #ddd;
}

#nav-items #ad-app a, #nav-items #ad-info a {
	display:inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	color: #FFFFFF;
	font-size: 14px;
}

#ad-app a {
	background: #6699ff url(../images/backgrounds/back-black2.jpg) repeat; 
	border-left: 5px solid #000; 
	width: 125px;
}

#ad-info a {
	background: #ff9900 url(../images/backgrounds/orange-back.jpg) repeat; 
	border-left: 5px solid #d78b08; 
	width: 105px;
}
	
#ad-app a:hover, #ad-info a:hover {
	color: #FFFFFF;
}
	
#ad-ac, #ad-app, #ad-info {
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px; }
	
#ad-social {
	font-size: 11px;
	margin-top: 4px;
	margin-left: 6px;
}

#ad-social ul li {
	margin-top: 3px;
}

#ad-social ul li a {
	padding-left: 20px;
	color: #999999;
	display: block;
}

#ad-social ul li a:hover {
	text-decoration: underline;
	color: #888888;
}

#ad-social ul li a.facebook {
	background-image: url('../images/sprites/20101104sprite.png');
	background-repeat: no-repeat;
	background-position: -10px -9px;
}

#ad-social ul li a.twitter {
	background-image: url('../images/sprites/20101104sprite.png');
	background-repeat: no-repeat;
	background-position: -10px -45px;
}
	
#socialnet {
	clear: both;
	border-top: 5px solid #eee;
	margin: 0 20px 40px 20px;
	background: #f8f8f8;
	padding: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px; }
	
#socialnet a, #socialnet a:visited {
	text-decoration: none;
	color: #999; }
	
#socialnet a:hover {
	color: #666; }
	
#socialnet ul {
	margin: 0;
	padding: 0; }
	
#socialnet li {
	float: left;
	margin-right: 30px;
}

#socialnet li a {
	display: inline-block;
	height: 20px;
	padding-left: 20px;
}
	
#socialnet li#hfacebook a {
	/* background: url(../images/icons/socialnetworking/facebook_16.png) no-repeat 0 3px; */
	background-image: url('../images/sprites/20101104sprite.png');
	background-repeat: no-repeat;
	background-position: -10px -9px;
}
	
#socialnet li#htwitter a {
	/* background: url(../images/icons/socialnetworking/twitter_16.png) no-repeat 0 3px; */
	background-image: url('../images/sprites/20101104sprite.png');
	background-repeat: no-repeat;
	background-position: -10px -45px;
}
	
#socialnet li#hvimeo a {
	/* background: url(../images/icons/socialnetworking/vimeo_16.png) no-repeat 0 3px; */
	background-image: url('../images/sprites/20101104sprite.png');
	background-repeat: no-repeat;
	background-position: -10px -117px;
}
	
#socialnet li#hyoutube a {
	/* background: url(../images/icons/socialnetworking/youtube_16.png) no-repeat 0 3px; */
	background-image: url('../images/sprites/20101104sprite.png');
	background-repeat: no-repeat;
	background-position: -10px -81px;
}

#socialnet li#hlinkedin a {
	/* background: url(../images/icons/socialnetworking/linkedin_16.png) no-repeat 0 3px; */
	background-image: url('../images/sprites/20101104sprite.png');
	background-repeat: no-repeat;
	background-position: -10px -153px;
}
	
#socialnet li#hflickr a {
	/* background: url(../images/icons/socialnetworking/flickr_16.png) no-repeat 0 3px; */
	background-image: url('../images/sprites/20101104sprite.png');
	background-repeat: no-repeat;
	background-position: -10px -189px;
}
	
#socialnet li#hfoursquare a {
	/* background: url(../images/icons/socialnetworking/foursquare_16.png) no-repeat 0 3px; */
	background-image: url('../images/sprites/20101104sprite.png');
	background-repeat: no-repeat;
	background-position: -10px -225px;
}

#home-slideshow {
	width: 700px;
	height: 450px;
	overflow: hidden;
	background: #eee;
	padding: 10px;
	float: left;
}

#home-slideshow #ngg-gallery-1-0 {
	height: 450px;
	overflow: hidden;
}

#news-home {
	float: left;
}
	
.main .content #news {
	float: left;
	width: 280px;
}
	
#news a, #news a:visited {
	text-decoration: none; }
	
#news h4 {
	border-bottom: 1px dotted #eee; 
	padding: 5px 0;
	color: #0066cc;
}
	
#events-home {
	width: 280px;
	margin-left: 300px;
}

#events-home h3 a:hover {
	text-decoration: none;
}

.main #events-home a:hover {
	background-color: #EEEEEE;
}

.main #events-home ul {

}

.main #events-home li.event {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 5px;
	width: 280px;
	min-height: 27px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #eee;
}

.main #events-home li.event a {
	display: block;
	text-decoration: none;
	background-color: transparent;
}

.main #events-home li.event h5 {
	margin-left: 100px;
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 0;
	color: #0066cc;
}

.main #events-home li.event div.calendar-date {
	float: left;
	border: 1px solid #eee;
	text-transform: uppercase;
}

.main #events-home li.event div.calendar-date span {
	display: inline-block;
}

.main #events-home li.event div.calendar-date span.month {
	background: #de1515;
	color: #FFFFFF;
	padding: 2px 6px;
	width: 25px;
	text-align: center;
}

.main #events-home li.event div.calendar-date span.day {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 8px;
	color: #000000;
}
	
#featured-home {
	width: 260px;
	margin-top: 20px;
	float: right;
}
	
.fh-inner {
	background-color: #f9f9f9;
	margin-bottom: 5px;
	color: #666;
	padding: 15px;	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.fh-inner#nycitynewsservice {
	background-image: url(../images/projects/nycitynewsservice_h200.png);
	background-repeat: no-repeat;
	background-position: 15px 15px;
}

.fh-inner#nytlocal {
	background-image: url(../images/projects/fort-greene_h200.png);
	background-repeat: no-repeat;
	background-position: 15px 15px;
}

.fh-inner a {
	color: #666;
}

.fh-inner p.description {
	font-size: 11px;
	text-transform: uppercase;
	margin-top: 55px;
	margin-bottom: 0;
	padding: 0;
}

.fh-inner p img.nyt-logo {
	position: absolute;
	margin-left: 8px;
	margin-top: 2px;
}
	
#featured-home li {
	padding: 3px 0;
	border-bottom: 1px dotted #eee; }
	
#featured-home a, #featured-home a:visited {
	text-decoration: none; }
	
#featured-home a:hover {
	color: #444; }
	
#jnet {
	clear: both;
	border-top: 1px solid #eee;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 40px;
	background: #f8f8f8;
	-webkit-box-shadow: 5px 5px 0 #eee;  
    -moz-box-shadow: 5px 5px 0 #eee;  
    box-shadow: 5px 5px 0 #eee;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
	
#jnet h3 {
	margin: 10px 0 2px 0;
}

#jnet h3.section-title {
	margin-top:0px;
	margin-bottom: 10px;
}
	
#jnet h3 a {
	color: #333;
	padding-left: 23px;
	width: 100%;
}

#jnet h3 a:hover {
	background-color: #FFFFFF;
}
	
#jnetwork h4 {
	color: #bbb;
	text-transform: uppercase; 
}
	
#jnet h5 {
	font-size: 11px;
	font-weight: normal;
	text-transform: uppercase;
	color: #999;
	margin: 0 0 3px 0;
	padding: 0; }
	
#jnet a, #jnet a:visited {
	text-decoration: none; }
	
#jnet .jsite {
	float: left;
	min-height: 240px;
	width: 230px;
	padding: 10px;
	margin-bottom: 20px;
	background: #fff;
	margin-right: 30px;
	-webkit-box-shadow: 5px 5px 0 #eee;  
    -moz-box-shadow: 5px 5px 0 #eee;  
    box-shadow: 5px 5px 0 #eee;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px; }
	
#jnet .third {
	margin-right: 0; }
	
#jnet ul li {
	padding: 3px 0 3px 0;
	margin-left: 10px;
	list-style-type: square;
	color: #EEEEEE;
	border-bottom: 1px dotted #EEEEEE;
}

#jnet ul li a {
	display: block;
	width: 100%;
}

#jnet h3#ns a {
	background: url(../images/wire/ico-ns.png) no-repeat 0 4px;
}
	
#jnet h3#bsb a {
	background: url(../images/wire/ico-bsb.png) no-repeat 0 4px;
}
	
#jnet h3#rt a {
	background: url(../images/wire/ico-rt.png) no-repeat 0 4px;
}
	
#jnet h3#ni a {
	/* background: url(../images/wire/ico-ni.png) no-repeat 0 4px; */
	background-image: url('../images/sprites/20101104sprite.png');
	background-repeat: no-repeat;
	background-position: -10px -296px;
}
	
#jnet h3#mh a {
	/* background: url(../images/wire/ico-mh.png) no-repeat 0 4px; */
	background-image: url('../images/sprites/20101104sprite.png');
	background-repeat: no-repeat;
	background-position: -10px -368px;
}
	
#jnet h3#ws a {
	/* background: url(../images/wire/ico-ws.png) no-repeat 0 4px; */
	background-image: url('../images/sprites/20101104sprite.png');
	background-repeat: no-repeat;
	background-position: -10px -332px;
}
	
#jnet h3#dnj a {
	/* background: url(../images/wire/ico-dnj.png) no-repeat 0 4px; */
	background-image: url('../images/sprites/20101104sprite.png');
	background-repeat: no-repeat;
	background-position: -10px -404px;
}
	
#jnet h3#mag a {
	/* background: url(../images/wire/ico-219.png) no-repeat 0 4px; */
	background-image: url('../images/sprites/20101104sprite.png');
	background-repeat: no-repeat;
	background-position: -10px -440px;
}
	
#jnet h3#clips a {
	/* background: url(../images/wire/ico-clips.png) no-repeat 0 4px; */
	background-image: url('../images/sprites/20101104sprite.png');
	background-repeat: no-repeat;
	background-position: -10px -260px;
}
	
#row3 {
	background: #ff9900 url(../images/backgrounds/orange-back.jpg) repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFFFFF;
	padding: 20px;
	-webkit-box-shadow: 5px 5px 0 #eee;  
    -moz-box-shadow: 5px 5px 0 #eee;  
    box-shadow: 5px 5px 0 #eee; }
	
#home #row3 h3, #home #row3 h3 a {
	margin: 0 0 10px 0;
	color: #333333;
}

#row3 h3 a:hover {
	background: none;
	text-decoration: none;
}
	
#row3 a, #row3 a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

#row3 p {
	padding: 0;
}
	
#row3 a:hover {
	text-decoration: underline; }
	
#dc {
	float: left; 
	margin-right: 30px;
	width: 260px;
}
	
#dc img {
	border: 5px solid #fff;
	float: right;
	margin: 0 0 15px 20px;
}

#row3 #dc ul {
	padding: 10px 0 0 10px;
	margin-left: 5px;
}

#row3 #dc ul li {
	list-style-type: disc;
}

#row3 #dc p a, #row3 #dc ul a {
	color: #FFFFFF;
}

#row3 #inside-story {
	float: left;
	width: 240px;
	margin-right: 30px;
}

#row3 #admissions-student-affairs ul {
	margin-top: 20px;
	text-align: center;
}

#row3 #admissions-student-affairs ul li {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 15px;
}

#featured-videos {
	background: #ff9900 url(../images/backgrounds/orange-back.jpg) repeat;
	padding: 20px;
	margin-bottom: 30px;
	-webkit-box-shadow: 5px 5px 0 #eee;  
    -moz-box-shadow: 5px 5px 0 #eee;  
    box-shadow: 5px 5px 0 #eee;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: none;
}

#featured-videos .primary-video {
	width: 550px;
}

#featured-videos .primary-video h3 a {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: normal;
}

#featured-videos .primary-video h3 {
	margin-bottom: 0;
}

#featured-videos .primary-video h3 a:hover {
	background-color: transparent;
}

#featured-videos .video-thumbnails {
	float: right;
	width: 250px;
}

#featured-videos .video-thumbnails .video-thumbnail {
	margin-bottom: 14px;
	margin-left: 9px;
	margin-right: 9px;
	float: left;
	border: 3px solid #EEEEEE;
}

#featured-videos .video-thumbnails .video-thumbnail:hover {
	cursor: pointer;
	border-color: #0066CC;	
}

#featured-videos .video-thumbnails .video-thumbnail.active {
	border-color: #0066CC;
}
	
#featured-videos a, #soc a:visited {
	color: #333; }
	
#featured-videos a:hover {
	color: #222;
	text-decoration: underline;
}

#featured-videos #vimeo-player {
	float: left;
	width: 400px;
}
   	
#flick-twit {
	margin-left: 420px;
}
	
#flick {
	border-bottom: none; 
}
		
#flick img {
	margin: 7px; }
	
#flick a img {
	border: 5px solid #eee; }
	
#flick a:hover img {
	border: 5px solid #fff; }