body.home-page .section {
	padding-top: 10px;
	padding-bottom: 10px;
}

body.home-page .homepage-headlines {
	width: 300px;
	border-top: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;	
	border-bottom: 1px solid #EEEEEE;
	margin-right: 10px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

body.home-page .homepage-headlines h3 {
	font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
}

body.home-page .homepage-headlines-gallery {
	width: 600px;
} 