body#live .wrap {
	width: 1024px;
}

body#live #global {
	height: 80px;
}

body#live #global #logo {
	float: none;
}

body#live #global ul#livestream-navigation {
	float: right;
	margin-top: 25px;
	margin-right: 20px;
}

body#live #global ul#livestream-navigation li {
	display: inline;
	margin-left: 10px;
}

body#live #global ul#livestream-navigation li a {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 13px;
	padding-left: 13px;
	background-color: #333333;
	font-size: 13px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

body#live #global ul#livestream-navigation li a:hover {
	text-decoration: none;
	background-color: #444444;
	color: #FFFFFF;
}

body#live .main .content {
	
}

body#live .main .content .video-player {
	background-color: #EEEEEE;
	padding: 10px;
	width: 720px;
	float: left;
}

body#live .main .content .video-sidebar {
	float: left;
	margin-top: 20px;
	width: 235px;
	background-color: #F9F9F9;
	border-left: 5px solid #DDDDDD;
}

iframe#wufooForms7p4p3 form.wufoo h2 {
	display: none;
}

body#live .main .content .video-sidebar .sidebar-item p {
	padding: 5px;
	line-height: 16px;
}