body#live .wrap {
	width: 1024px;
}

body#live #global {
	height: 80px;
}

body#live #global #logo {
	float: none;
}

body#live #global ul#livestream-navigation {
	float: right;
	margin-top: 25px;
	margin-right: 20px;
}

body#live #global ul#livestream-navigation li {
	display: inline;
	margin-left: 10px;
}

body#live #global ul#livestream-navigation li a {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 13px;
	padding-left: 13px;
	background-color: #333333;
	font-size: 13px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

body#live #global ul#livestream-navigation li a:hover {
	text-decoration: none;
	background-color: #444444;
	color: #FFFFFF;
}

body#live .main {
	padding: 0;
}

body#live .main h2.banner {
	background-color: #EEEEEE;
	font-size: 36px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: -2px;
	text-stroke-color: #DDDDDD;
	text-stroke-width: 2px;
}

body#live .main .content {
	padding: 20px;
}

body#live .main .content .video-player {
	background-color: #EEEEEE;
	padding: 10px;
	width: 720px;
	float: left;
}

body#live .main .content .video-sidebar {
	float: left;
	margin-top: 20px;
	width: 235px;
	background-color: #F9F9F9;
	border-left: 5px solid #DDDDDD;
	padding-bottom: 5px;
}

iframe#wufooForms7p4p3 form.wufoo h2 {
	display: none;
}

body#live .main .content .video-sidebar .sidebar-item#interest-capture a {
	font-size: 16px;
	padding: 10px;
	display: inline-block;
	width: 215px;
	color: #FF9900;
	text-decoration: none;
	border-top:1px solid #F9F9F9;
	border-bottom:1px solid #EEEEEE;
}

body#live .main .content .video-sidebar .sidebar-item#interest-capture a:hover {
	background-color: #FF9900;
	color: #FFF;
	border-top-color: #DDDDDD;
}

body#live .main .content .video-sidebar .sidebar-item#report-trouble, body#live .main .content .video-sidebar .sidebar-item#report-trouble a {
	color: #999999;
}

body#live .main .content .video-sidebar .sidebar-item#report-trouble a:hover {
	color: #FFFFFF;
}

body#live .main .content .video-sidebar .sidebar-item#live-updates {
	border-bottom:1px solid #EEEEEE;
	display: none;
}

body#live .main .content .video-sidebar .sidebar-item#live-updates ul.switcher {
	background-color: #F1F1F1;
	margin-right: 1px;	
}

body#live .main .content .video-sidebar .sidebar-item#live-updates ul.switcher li {
	display: inline-block;
	padding-left: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	color: #666666;
	width: 75px;
	background-color: #F1F1F1;
}

body#live .main .content .video-sidebar .sidebar-item#live-updates ul.switcher li.active {
	background-color: #F9F9F9;
	color: #333333;
}

body#live .main .content .video-sidebar .sidebar-item#live-updates ul.switcher li#twitter {
	background-image:url("../images/sprites/20101104sprite.png");
	background-position:5px -40px;
	background-repeat:no-repeat;
}

body#live .main .content .video-sidebar .sidebar-item#live-updates ul.switcher li#flickr {
	background-image:url("../images/sprites/20101104sprite.png");
	background-position:5px -184px;
	background-repeat:no-repeat;
}

body#live .main .content .video-sidebar .sidebar-item#live-updates ul.switcher li:hover {
	cursor: pointer;
}

body#live .main .content .video-sidebar .sidebar-item#live-updates #flickr-updates, body#live .main .content .video-sidebar .sidebar-item#live-updates #twitter-updates {
	display:none;
	margin-bottom: 5px;
}

body#live .main .content .video-sidebar .sidebar-item#live-updates #flickr-updates ul li {
	margin-left: 16px;
	margin-right: 16px;
	margin-top: 10px;
	float: left;
	line-height: 0;
}

body#live .main .content .video-sidebar .sidebar-item#live-updates #flickr-updates ul li a img {
	border: 5px solid #DDDDDD;
}

body#live .main .content .video-sidebar .sidebar-item#live-updates #flickr-updates ul li a:hover img {
	border-color: #FF9900;
}

body#live .main .content .video-sidebar .sidebar-item#live-updates #twitter-updates ul li {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 7px;
	margin-bottom: 7px;
	clear: left;
}

body#live .main .content .video-sidebar .sidebar-item#live-updates #twitter-updates ul li img.avatar {
	float: left;
	margin-top: 5px;
}

body#live .main .content .video-sidebar .sidebar-item#live-updates #twitter-updates ul li div.tweet-text {
	margin-left: 37px;
}

body#live .main .content .video-sidebar .sidebar-item p {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 16px;
}

body#live .main .content .video-sidebar .sidebar-item p a:hover {
	background-color: #FF9900;
	color: #FFFFFF;
}

body#live .main .content .video-sidebar .sidebar-data {
	display: none;
}

body#live .main .content .video-backup {
	margin-top: 3px;
	margin-left: 10px;
}

body#live .main .content .video-backup, body#live .main .content .video-backup a {
	color: #999999;
}