.page-template-page-stylebook-php code{
 padding:5px 10px; background:#eeeeee; margin:10px 0; display:block;}

.page-template-page-stylebook-php p.footnote {
 border-top: 1px solid #DDDDDD; font-size: 0.9em; margin-top: 10px; padding-top: 5px; }

.page-template-page-stylebook-php .entry ol {
 padding-left: 40px; margin: 12px 0; }

.page-template-page-stylebook-php .entry ol li {
 margin:10px 0; padding:0; }

.page-template-page-stylebook-php .entry ul {
 margin: 12px 0; }

.page-template-page-stylebook-php .entry ul li {
  list-style-image: url("images/icons/arrow_000_small.png"); border-bottom: 1px solid #EEEEEE; padding-left:40px;}

.page-template-page-stylebook-php .entry ul li:first-child {
 border-top: 1px solid #EEEEEE; }

.page-template-page-stylebook-php .entry img.img-full {
 width:605px; border:5px solid #EEEEEE; margin-bottom:20px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }

.page-template-page-stylebook-php .entry img.img-right {
 width:300px; float:right; margin:0 0 20px 20px; border:5px solid #EEEEEE; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }

.page-template-page-stylebook-php table {
 width:100%; }

.page-template-page-stylebook-php td {
 padding:5px 10px; }

.page-template-page-stylebook-php td.color {
 width:14%; }

.page-template-page-stylebook-php td:first-child {
 width:15%; padding:0; }

.page-template-page-stylebook-php .white {
 color:#ffffff;}

.page-template-page-stylebook-php li h4 {
 margin-top:10px; }

.page-template-page-stylebook-php li:first-child h4 {
 margin-top:0; }

.page-template-page-stylebook-php ul#sidebar-nav li h4 {
 color:#0066CC; background:#F9F9F9; border-bottom:1px solid #EEEEEE; border-top:1px solid #FFFFFF; display:block; padding:7px; }

.page-template-page-stylebook-php li.split {
 margin-top:10px; }

.page-template-page-stylebook-php .content h4 {
 font-size:14px; }

.page-template-page-stylebook-php ul#sidebar-nav li h4 {
 color:#0066CC; background:#F9F9F9; border-bottom:1px solid #EEEEEE; border-top:1px solid #FFFFFF; display:block; padding:7px; }
