#sidebar {
	float: left; 
	width: 225px;
	margin-right: 20px;
}

#sidebar h4 {
	font-size: 120%;
}
	
#sidebar h4 a {
	text-decoration: none;
}

#sidebar-nav li a, #sidebar-nav li a:visited {
	display: block;
	padding: 7px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #eee;
	text-decoration: none;
	background: #f9f9f9;
}

#sidebar ul.navigation li, .sidebar ul.navigation li {
	font-size: 16px;
}

#sidebar .navigation li a, .sidebar .navigation li a {
	display: block;
	padding: 7px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #eee;
	text-decoration: none;
	background: #f9f9f9;
}

#sidebar .navigation li a:hover, .sidebar .navigation li a:hover {
	border-top: 1px solid #ef8f00;
	background: #ff9900;
	color: #fff;
}

#sidebar ul.navigation li ul.children li a, #sidebar ul.navigation li ul.sub-menu li a, .sidebar ul.navigation li ul.children li a, .sidebar ul.navigation li ul.sub-menu li a {
	font-size: 13px;
}

#sidebar ul.navigation li ul.children li ul.children li a, #sidebar ul.navigation li ul.sub-menu li ul.sub-menu li a, .sidebar ul.navigation li ul.children li ul.children li a, .sidebar ul.navigation li ul.sub-menu li ul.sub-menu li a {
	font-size: 12px;
	padding: 5px 10px 5px 25px;
	background: #f9f9f9 url(../images/icons/arrow_000_small.png) no-repeat 10px 7px;
}

#sidebar ul.navigation li ul.children li ul.children li a:hover, #sidebar ul.navigation li ul.sub-menu li ul.sub-menu li a:hover, .sidebar ul.navigation li ul.children li ul.children li a:hover, .sidebar ul.navigation li ul.sub-menu li ul.sub-menu li a:hover {
	color: #0066cc;
	border-top: 1px solid #fff;
	background: #f9f9f9 url(../images/icons/arrow_000_small.png) no-repeat 10px 7px;
}

#sidebar ul.navigation li ul.children li ul.children li ul.children li a, #sidebar ul.navigation li ul.sub-menu li ul.sub-menu li ul.sub-menu li a, .sidebar ul.navigation li ul.children li ul.children li ul.children li a, .sidebar ul.navigation li ul.sub-menu li ul.sub-menu li ul.sub-menu li a {
	font-size: 10px;
	background: #f9f9f9;
	color: #666;
	padding: 5px 10px 5px 35px;
}
	
#sidebar-nav li a:hover {
	border-top: 1px solid #ef8f00;
	background: #ff9900;
	color: #fff; }
	
#sidebar-nav li li a, #sidebar-nav li li a:visited {
	font-size: 90%;
	padding: 5px 10px 5px 25px;
	background: #f9f9f9 url(../images/icons/arrow_000_small.png) no-repeat 10px 7px; }
	
#sidebar-nav li li a:hover {
	color: #0066cc;
	border-top: 1px solid #fff;
	background: #f9f9f9 url(../images/icons/arrow_000_small.png) no-repeat 10px 7px; }
	
#sidebar-nav li li li a, #sidebar-nav li li li a:visited {
	font-size: 90%;
	background: #f9f9f9;
	color: #666;
	padding: 5px 10px 5px 35px; }


#sidebar-internships {
	float: left;
	width: 290px; }

.sidebar#news h3, #sidebar-internships h3 {
	margin: 0 0 10px 0; }

.sidebar#news h3 a, #sidebar-internships h3 a {
	text-decoration: none;
}

.sidebar#news li, #sidebar-internships li {
	line-height: 175%;
	padding: 4px 3px 4px 20px;
	border-bottom: 1px dashed #efefef;
	background: url(../images/icons/arrow_000_small.png) no-repeat 0 8px;
}

.sidebar#news li a, #sidebar-internships li a {
	text-decoration: none;
}

#sidebar-news li a:hover, #sidebar-internships li a:hover {
	text-decoration: underline; }

.sidebar.right {
	float:right;
}

.sidebar.left {
	float: left;
}

.sidebar.left.standard {
	width: 225px;
	margin-right: 20px;
}

.sidebar.right.standard {
	width: 225px;
	margin-left: 20px;
}

.sidebar.standard ul.widgets {
	
}

.sidebar.standard li.widget {
	margin-top: 20px;
	list-style-type: none;
}

.sidebar .widget a.interest-capture {
	font-size: 15px;
	padding-top: 6px;
	padding-left: 35px;
	padding-bottom: 8px;
	padding-right: 8px;
	margin-left: -5px;
	border-top: 7px solid #FFFFFF;
	border-left: 7px solid #FFFFFF;	
	border-bottom: 12px solid #FFFFFF;	
	background-color: #FFF7A6;
	background-image:url("../images/icons/email_s24.png");
	background-position:4px 3px;
	background-repeat:no-repeat;
	display: block;
	width: auto;
	color: #666666;
	text-decoration: none;
}

.sidebar .widget a.interest-capture:hover {
	text-decoration: underline;
}

#search_sidebar {
	width: 240px;
}

#search_sidebar .buddypress_search_results h3 {
	clear: left;
}

#search_sidebar .buddypress_search_results ul li {
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: -10px;
	margin-right: -10px;
	min-height: 40px;
	clear: left;
	display: block;
}

#search_sidebar .buddypress_search_results ul li:hover {
	background-color: #F8F8F8;
}

#search_sidebar .buddypress_search_results ul li a {
	display: block;
	text-decoration: none;
}

#search_sidebar .buddypress_search_results.with-avatar .avatar {
	float: left;
	margin-top: 3px;
	margin-right: 10px;
}

#search_sidebar .buddypress_search_results h4 {
	font-weight: normal;
	font-size: 14px;
}

#search_sidebar .buddypress_search_results p, #search_sidebar .buddypress_search_results p a {
	color: #333333 !important;
	padding-top: 0;
	text-decoration: none;
}

#search_sidebar .buddypress_search_results.with-avatar h4, #search_sidebar .buddypress_search_results.with-avatar p {
	margin-left: 40px;
}

#sidebar ul.navigation li {
	font-size: 16px;
}

#sidebar .navigation li a {
	display: block;
	padding: 7px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #eee;
	text-decoration: none;
	background: #f9f9f9;
}

#sidebar .navigation li a:hover {
	border-top: 1px solid #ef8f00;
	background: #ff9900;
	color: #fff;
}

#sidebar ul.navigation li ul.children li a, #sidebar ul.navigation li ul.sub-menu li a {
	font-size: 13px;
}

#sidebar ul.navigation li ul.children li ul.children li a, #sidebar ul.navigation li ul.sub-menu li ul.sub-menu li a {
	font-size: 12px;
	padding: 5px 10px 5px 25px;
	background: #f9f9f9 url(images/icons/arrow_000_small.png) no-repeat 10px 7px;
}

#sidebar ul.navigation li ul.children li ul.children li a:hover, #sidebar ul.navigation li ul.sub-menu li ul.sub-menu li a:hover {
	color: #0066cc;
	border-top: 1px solid #fff;
	background: #f9f9f9 url(images/icons/arrow_000_small.png) no-repeat 10px 7px;
}

#sidebar ul.navigation li ul.children li ul.children li ul.children li a, #sidebar ul.navigation li ul.sub-menu li ul.sub-menu li ul.sub-menu li a {
	font-size: 10px;
	background: #f9f9f9;
	color: #666;
	padding: 5px 10px 5px 35px;
}


.main .sidebar.large {
	width: 320px;
}

.main .sidebar.medium {
	width: 290px;
}

.main .sidebar#cunyj_event-sidebar li.event, .main .sidebar#news li.event {
	margin-top: 20px;
	margin-bottom: 20px;
}

.main .sidebar#news li.event {
	background-image: none;
	padding-left: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.main .sidebar#cunyj_event-sidebar li.event h5, .main .sidebar#news li.event h5 {
	margin-left: 100px;
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 0;
}

.main .sidebar#cunyj_event-sidebar li.event p.location, .main .sidebar#news li.event p.location {
	margin-left: 100px;
	color: #666666;
	padding: 0;
	font-size: 10px;
}

.main .sidebar#cunyj_event-sidebar li.event h5 a, .main .sidebar#news li.event h5 a {
	color: #0066CC;
}
	
.main .sidebar#cunyj_event-sidebar li.event div.calendar-date, .main .sidebar#news li.event div.calendar-date {
	float: left;
	border: 1px solid #eee;
	text-transform: uppercase;
}

.main .sidebar#cunyj_event-sidebar li.event div.calendar-date span, .main .sidebar#news li.event div.calendar-date span {
	display: inline-block;
}

.main .sidebar#cunyj_event-sidebar li.event div.calendar-date span.month, .main .sidebar#news li.event div.calendar-date span.month {
	background: #de1515;
	color: #FFFFFF;
	padding: 2px 6px;
	width: 25px;
	text-align: center;
}

.main .sidebar#cunyj_event-sidebar li.event div.calendar-date span.day, .main .sidebar#news li.event div.calendar-date span.day {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 8px;
	color: #333333;
}